@tailwind base;
@tailwind components;
@tailwind utilities;

body,html {
    scroll-behavior: smooth;
  /* overflow-y: auto;   enable vertical scroll */
  /* overflow-x: hidden; */
    font-family: Arial,Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;

}
